h1 {
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(255, 208, 120);
  min-height: 100dvh;
  padding: 20px;
}

.container {
  background-color: white;
}

.footer {
  display: flex;
}

.footer h2 {
  margin-left: auto;
}
